@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Footer section -->
<footer >
    <div class="container upper-section">
        <div class="company-info">
            <img src="/images/logotypes/logotype-white.svg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
        </div>
        <div class="links-component">
            
            
            @{
            	var footervalue = Umbraco.Content(Guid.Parse("ac4e64e4-838e-496d-93af-2496ad44708f"));
            }


            <h5>Company</h5>
            @{
                try
                {
                    
                    @foreach (var item in footervalue.Value<string[]>("companyLinks"))
                    {
                        <a href="/@item">@item</a>
                    }
                    
                }
                catch {}
            }
        </div>
        <div class="links-component">
            <h5>Help</h5>
             @{
                try
                {
                    
                    @foreach (var item in footervalue.Value<string[]>("helpLinks"))
                    {
                        <a href="/@item">@item</a>
                    }
                    
                }
                catch {}
            }
        </div>
        <div class="links-component">
            <h5>Resources</h5>
             @{
                try
                {
                    
                    @foreach (var item in footervalue.Value<string[]>("resourcesLinks"))
                    {
                        <a href="/@item">@item</a>
                    }
                    
                }
                catch {}
            }
        </div>
        <div class="links-component">
          @{  
            try {
                <h5>Link</h5>
                @foreach (var item in footervalue.Value<string[]>("otherLinks"))
                {
                    <a href="/@item">@item</a>
                }
            }
            catch {}
            }
        </div>
    </div>
    <hr>
    <div class="container lower-section">
        <p>© @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</p>
        <span class="social-media-links">
            <p>
                social media here
            </p>
        </span>
    </div>
</footer>