@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

<a href="@Model.Url()" class=" article-card-medium">
    @{
        var articleImage = Model.Value<MediaWithCrops>("articleImage");
    }
    <div  class="image-section">
        <img src="@articleImage.Url()" alt="" >
        <div  class="article-date">
            <h5>@Model.CreateDate.ToString("dd")</h5>
            <p>@Model.CreateDate.ToString("MMM")</p>
        </div>
    </div>
    <div class="description">
        <p>@Model.Value("articleCategory")</p>
        <h5>@Model.Value("articleTitle")</h5>
        <p>@Model.Value("articleShortText")</p>
    </div>  
</a>