@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
    string text = Model.Value("articleContent").ToString();
    string shortText;
    int maxLength = 100;
    
    if (text.Length <= maxLength) {
        shortText = text;
    }
    
    char[] delimiters = new char[] { ' ', '.', ',', ':', ';' };
    int index = text.LastIndexOfAny(delimiters, maxLength - 3);
    
    if (index > (maxLength / 2)) {
        shortText = text.Substring(0, index) + "...";
    }
    else {
        shortText = text.Substring(0, maxLength - 3) + "...";
    }
}


<a href="@Model.Url()" class=" article-card-medium">
    @{
        var articleImage = Model.Value<MediaWithCrops>("articleImage");
    }
    <div  class="image-section">
        <img src="@articleImage.Url()" alt="" >
        <div  class="article-date">
            <h5>@Model.CreateDate.ToString("dd")</h5>
            <p>@Model.CreateDate.ToString("MMM")</p>
        </div>
    </div>
    <div class="description">
        <p>@Model.Value("articleCategory")</p>
        <h5>@Model.Value("articleTitle")</h5>
        <p>@shortText</p>
    </div>  
</a>