@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ 
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray(); 
    var site = Model.Root();
	var globalSettings = Umbraco.Content(Guid.Parse("ac4e64e4-838e-496d-93af-2496ad44708f"));
}


 <!-- Navbar -->
<nav class="navbar">
    <div class="container" id="navigation-dropdown-menu"> 
        <div class="logo">
            <img src="/images/logotypes/logotype.svg" alt="Crito">
        </div> 

        <button onclick="openMobileMenu()" class="mobile-menu"><i class="bi bi-list"></i></button>
        <div class="navbar-links" >                
            <div class="upper-links">
                <div class="contact-links">
                    <ul>
                        <li><a href=""><i class="bi bi-telephone-forward"></i>@globalSettings.Value("navbarContactPhoneNumber")</a></li>
                        <span class="vertical-line-small"></span>
                        <li><a href="" ><i class="bi bi-envelope-at"></i></i>@globalSettings.Value("navbarContactEmailAdress")</a></li>
                        <span class="vertical-line-small"></span>
                        <li><a href="" ><i class="bi bi-geo-alt"></i>@globalSettings.Value("navbarContactAdress")</a></li>
                    </ul>                        
                </div>
                <div class="social-media-links">
                    <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
            <div class="local-links">
                <div class="left-links">
                    @if (selection?.Length > 0)
                    {
                        <ul>
                            <li>
                                <a class="@(Model.Id == site.Id ? "active" : null)" href="@site.Url()">@site.Name</a>
                            </li>
                            @foreach (var item in selection)
                            {
                                <li class="@(item.IsAncestorOrSelf(Model) ? "active" : null)">
                                    <a href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
                
                <button class="button-theme">Login <i class="bi bi-arrow-up-right"></i></button>
                
            </div>
        </div>
    </div>
</nav>