@using CritoProject.ViewModels;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

@{
	Layout = "Main.cshtml";
}

@await Html.PartialAsync("_Showcase")
@await Html.PartialAsync("_RelatedBrands")

<!-- Features -->
<div class="features-section">
    <div class="container">
        <div class="left-text">
            <h6>Features</h6>
            <h1>@Model.Value("companyFeaturesTitle")</h1>
            <a href="@Model.Value("companyFeaturesButtonLink")" class="button-theme">Learn More <i class="bi bi-arrow-up-right"></i></a>
        </div>
        <div class="right-items">
        	@Html.GetBlockListHtml(Model.CompanyFeature)
        </div>        
    </div>
</div>

@await Html.PartialAsync("_AboutCompanySection")


 <!-- Services Section -->
 <div class="services-section ">
    <div class="container">
        <h6 class="theme-colour-orange">Our Services</h6>
        <h1>@Model.Value("ourServicesHeading")</h1>
        <div class="info-links">
            @Html.GetBlockListHtml(Model.CompanyService)
        </div>
        <div class="link" style="text-align: center;">
            <a href="@Model.Value("ourServicesURL")" class="button-theme-transparent">Browse Services <i class="bi bi-arrow-up-right"></i></a>
        </div>            
    </div>
</div> 

<!-- Why choose us section -->
<div class="choose-us-section  ">
    <div class="container">
        <div class="left-text">
            <h6 class="theme-colour-orange">Why Choose Us</h6>
            <h1>@Model.Value("whyChooseUsTitle")</h1>
            @Html.GetBlockListHtml(Model.ChooseUsService)
        </div>
        <div class="right-image">
            @{
                var chooseUsImage = Model.Value<MediaWithCrops>("whyChooseUsImage");
            }
            <img src="@chooseUsImage.Url()" alt="">
        </div>
    </div>
</div>
    
@await Html.PartialAsync("_OurProjectsSection")

@await Html.PartialAsync("_OurEmployeesSection")
    

@await Html.PartialAsync("_ArticleSectionSingleRow")

@await Html.PartialAsync("_SignupSection", new SignUpViewModel())