@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

@{
	Layout = "Main.cshtml";
}

@await Html.PartialAsync("_Showcase")
@await Html.PartialAsync("_RelatedBrands")

<!-- Features -->
<div class="features-section">
    <div class="container">
        <div class="left-text">
            <h6>Features</h6>
            <h1>@Model.Value("companyFeaturesTitle")</h1>
            <a href="@Model.Value("companyFeaturesButtonLink")" class="button-theme">Learn More <i class="bi bi-arrow-up-right"></i></a>
        </div>
        <div class="right-items">
        	@Html.GetBlockListHtml(Model.CompanyFeature)
        </div>        
    </div>
</div>

@await Html.PartialAsync("_AboutCompanySection")


 <!-- Services Section -->
 <div class="services-section ">
    <div class="container">
        <h6 class="theme-colour-orange">Our Services</h6>
        <h1>@Model.Value("ourServicesHeading")</h1>
        <div class="info-links">
            @Html.GetBlockListHtml(Model.CompanyService)
        </div>
        <div style="text-align: center;">
            <a href="@Model.Value("ourServicesURL")" class="button-theme-transparent">Browse Services <i class="bi bi-arrow-up-right"></i></a>
        </div>            
    </div>
</div> 

<!-- Why choose us section -->
<div class="choose-us-section  ">
    <div class="container">
        <div class="left-text">
            <h6 class="theme-colour-orange">Why Choose Us</h6>
            <h1>@Model.Value("whyChooseUsTitle")</h1>
            @Html.GetBlockListHtml(Model.ChooseUsService)
        </div>
        <div class="right-image">
            @{
                var chooseUsImage = Model.Value<MediaWithCrops>("whyChooseUsImage");
            }
            <img src="@chooseUsImage.Url()" alt="">
        </div>
    </div>
</div>
    
@await Html.PartialAsync("_OurProjectsSection")

 <!-- Employees info section -->
    <div class="employee-info-section">
        <div class="container">
            <h6 class="theme-colour-orange font-bold">Employees info section</h6>
            <div class="header-text">
                <h1 class="font-bold">Experience Team Members</h1>
                <button class="button-theme-transparent">Browse Team <i class="bi bi-arrow-up-right"></i></button>
            </div>
            <div class="employee-profiles">
                <div class="employee-card">
                    <div class="employee-img">
                        <img src="images/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg" alt="">
                    </div>
                    <h5 class="font-bold">Kristine Palmer</h5>
                    <p>Chef Operation Officer</p>
                </div>
                <div class="employee-card">
                    <div class="employee-img">
                        <img src="images/itay-verchik-6ZKGBzrDd3I-unsplash.jpg" alt="">
                    </div>
                    <h5  class="font-bold">Mark Aubri</h5>
                    <p>Senior Consultant</p>
                </div>
                <div class="employee-card">
                    <div class="employee-img">
                        <img src="images/christina-wocintechchat-com-Zpzf7TLj_gA-unsplash.jpg" alt="">
                    </div>
                    <h5 class="font-bold">Kimberly Hansen</h5>
                    <p>Senior Consultant</p>
                </div>
                <div class="employee-card">
                    <div class="employee-img">
                        <img src="images/the-connected-narrative-N8lRH2uxih4-unsplash.jpg" alt="">
                    </div>
                    <h5 class="font-bold">Kristine Palmer</h5>
                    <p>Chef Operation Officer</p>
                </div>
            </div>
        </div>
        <!-- Reviews section -->
        <div class="reviews-section">
            <div class="container">
                <p class="theme-colour-orange font-bold">Testimonial</p>
                <h1 class="font-bold">What Our Client Says</h1>

                <div class="review-cards">
                    <div class="review-card">
                        <p class="theme-colour-orange">*****</p>
                        <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                        
                        <div class="person-info">
                            <div class="profile-image">
                                <img src="images/vince-veras-AJIqZDAUD7A-unsplash.jpg" alt="">
                            </div>
                            <div class="profile-info">
                                <h4>Cassandra Warren</h4>
                                <h6 class="theme-colour-orange">Business Manager, Dorfus</h6>
                            </div>
                        </div>
                    </div>  

                    <div class="review-card">
                        <p class="theme-colour-orange">*****</p>
                        <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                        
                        <div class="person-info">
                            <div class="profile-image">
                                <img src="images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt="">
                            </div>
                            <div class="profile-info">
                                <h4>Amanda Tulling</h4>
                                <h6 class="theme-colour-orange">Senior Developer, Square</h6>
                            </div>
                        </div>
                    </div>  

                    <div class="review-card">
                        <p class="theme-colour-orange">*****</p>
                        <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                        
                        <div class="person-info">
                            <div class="profile-image">
                                <img src="images/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" alt="">
                            </div>
                            <div class="profile-info">
                                <h4>Jack McDogglas</h4>
                                <h6 class="theme-colour-orange">Key Account Manager, Gobona</h6>
                            </div>
                        </div>
                    </div>                      
                </div>
                <button class="button-theme">All Reviews <i class="bi bi-arrow-up-right"></i></button>
            </div>
            
        </div>
    </div>
    

@await Html.PartialAsync("_ArticleSectionSingleRow")